<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My user profile</h4>
        <h6 class="card-subtitle">Settings</h6>
        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (submit)="updateProfile()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                formControlName="email"
                [readOnly]="user.google"
              />
            </div>
          </div>

          <button
            [disabled]="profileForm.invalid"
            class="btn btn-success waves-effect waves-light m-r-10 btn-block"
          >
            <i class="fa fa-save"> </i>
            Save changes
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User image</h6>
        <div class="text-center img-container">
          <img *ngIf="!imgTemp" [src]="user.getImage" class="img-avatar "/>
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar "/>
        </div>

        <input type="file"  (change)="changeImg($event)"/>
        <br />
        <br />
        <button
          (click)="uploadImg()"
          [disabled]="!imgUpload"
          class="btn btn-success waves-effect waves-light m-r-10 btn-block"
        >
          <i class="fa fa-save"> </i>
          Save img
        </button>
      </div>
    </div>
  </div>
</div>
