<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Ventas1'"
      [doughnutChartData]="data1"
      [doughnutChartLabels]="label1"
    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
      [title]="'Ventas2'"
      [doughnutChartData]="data2"
      [doughnutChartLabels]="label2"
    ></app-dona>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Ventas3'"
      [doughnutChartData]="data3"
      [doughnutChartLabels]="label3"
    ></app-dona>
  </div>
  <div class="col-6">
    <app-dona
      [title]="'Ventas4'"
      [doughnutChartData]="data4"
      [doughnutChartLabels]="label4"
    ></app-dona>
  </div>
</div>
